<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- author: 이상우 -->
<mapper namespace="com.magnifier.applylist.mapper.ApplylistMapper">

	<resultMap id="memberApplylistDtoMap" type="com.magnifier.applylist.dto.MemberApplylistDto">
        <result property="name" column="enterprise_name"/>
        <result property="title" column="recruit_title"/>
        <result property="createdAt" column="created_at"/>
        <result property="recruitId" column="recruit_id"/>
    </resultMap>

    <select id="selectApplylistsByMemberId" resultMap="memberApplylistDtoMap">
        SELECT
            e.name AS enterprise_name,
            r.title AS recruit_title,
            a.created_at,
            a.recruit_id
        FROM applylist a
        JOIN recruit r ON a.recruit_id = r.recruit_id
        JOIN enterprise e ON r.enterprise_id = e.enterprise_id
        WHERE a.member_id = #{memberId}
        ORDER BY a.created_at DESC
    </select>
    
    <resultMap id="enterpriseApplylistDtoMap" type="com.magnifier.applylist.dto.EnterpriseApplylistDto">
        <result property="name" column="member_name"/>
        <result property="title" column="recruit_title"/>
        <result property="createdAt" column="created_at"/>
        <result property="memberId" column="member_id"/>
    </resultMap>

    <select id="selectApplylistsByEnterpriseId" resultMap="enterpriseApplylistDtoMap">
        SELECT
            m.name AS member_name,
            r.title AS recruit_title,
            a.created_at,
            a.member_id
        FROM applylist a
        JOIN recruit r ON a.recruit_id = r.recruit_id
        JOIN enterprise e ON r.enterprise_id = e.enterprise_id
        JOIN member m ON a.member_id = m.member_id
        WHERE e.enterprise_id = #{enterpriseId}
        ORDER BY a.created_at DESC
    </select>

</mapper>
