<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magnifier.member.mapper.MemberMapper">

	<resultMap id="memberMap"
		type="com.magnifier.member.entity.Member">
		<id property="memberId" column="member_id" />
		<result property="loginId" column="login_id" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="gender" column="gender" />
		<result property="phoneNumber" column="phone_number" />
		<result property="birth" column="birth" />
		<result property="postNumber" column="post_number" />
		<result property="address" column="address" />
		<result property="addressDetail" column="address_detail" />
		<result property="reference" column="reference" />
		<result property="enabled" column="enabled" />
		<result property="auth" column="auth" />
	</resultMap>

	<!-- 회원 조회 -->
	<select id="read" resultMap="memberMap" parameterType="String">
		SELECT member_id, login_id, password, name, gender, phone_number, birth, post_number, address, address_detail, reference, enabled, auth
		FROM member
		WHERE login_id = #{loginId}
	</select>
	
	<!-- 회원 등록 -->
	<insert id="save" parameterType="com.magnifier.member.entity.Member">
		INSERT INTO zoomin.MEMBER
		(member_id, login_id, password, name, gender, phone_number, birth, post_number, address, address_detail, reference)
		values (MEMBER_SEQ.NEXTVAL, #{loginId}, #{password}, #{name}, #{gender}, #{phoneNumber}, #{birth}, #{postNumber}, #{address}, #{addressDetail}, #{reference})
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT count(*)
		FROM member
		WHERE login_id = #{loginId}
	</select>

</mapper>