<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- author: 이상우 -->
<mapper namespace="com.magnifier.resume.career.mapper.CareerMapper">

	<insert id="insertCareer" parameterType="com.magnifier.resume.career.dto.CareerDto">
		insert into career( 
			career_id,
			resume_id,
			name, 
			join_date, 
			quit_date, 
			job, 
			department, 
			position
		)
		values(
			CAREER_SEQ.NEXTVAL,
			#{resumeId},
			#{name}, 
			#{joinDate}, 
			#{quitDate}, 
			#{job}, 
			#{department}, 
			#{position}
		 )
	</insert>
	
	<update id="modifyCareer">
		 update career
		 set 
		 	name = #{name},
		 	join_date = #{joinDate},
		 	quit_date = #{quitDate},
		 	job = #{job},
		 	department = #{department},
		 	position = #{position}
		 where career_id=#{careerId}
	 </update>
		 
	 <delete id="deleteCareer">
		 delete from career
		 where career_id=#{careerId}
	 </delete>
	 
	 <select id="findCareerIdsByResumeId" resultType="java.lang.Integer">
	 	select
	 		career_id
	 	from
	 		career
	 	where resume_id = #{resumeId}
	 </select>
			

</mapper>