<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magnifier.enterprise.mapper.EnterpriseMapper">

	<resultMap id="enterpriseMap"
		type="com.magnifier.enterprise.entity.Enterprise">
		<id property="enterpriseId" column="enterprise_id" />
		<result property="registerNumber" column="register_number" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="postNumber" column="post_number" />
		<result property="address" column="address" />
		<result property="addressDetail" column="address_detail" />
		<result property="reference" column="reference" />
		<result property="enabled" column="enabled" />
		<result property="auth" column="auth" />
	</resultMap>

	<!-- 회원 조회 -->
	<select id="read" resultMap="enterpriseMap" parameterType="String">
		SELECT enterprise_id, register_number, name, password, post_number, address, address_detail, reference, enabled, auth
		FROM enterprise
		WHERE register_number = #{registerNumber}
	</select>
	
	<!-- 회원 가입 -->
	<insert id="save" parameterType="com.magnifier.enterprise.entity.Enterprise">
		INSERT INTO zoomin.Enterprise
		(enterprise_id, name, register_number, password, post_number, address, address_detail, reference)
		values (MEMBER_SEQ.NEXTVAL, #{name}, #{registerNumber}, #{password}, #{postNumber}, #{address}, #{addressDetail}, #{reference})
	</insert>

</mapper>